### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [14]:
print(len("Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."))

151

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [23]:
name = input("what is your name? " )

what is your name?  Abby

In [24]:
name = input("what is your best color? ")

what is your best color? Orange

In [25]:
name = input(" what pet animal do you have at home? ")

 what pet animal do you have at home? Dolphin

3. Print 3.14159 in a scientific number notation

4. Print 3.1559 in 3 decimal places

In [26]:
round(3.1559, 3)

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [29]:
print(f"{1589.92341 :2e}")

1.589923e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [30]:
print(39 // 2)
print(39 % 2)

19
1

In [32]:
print(19//2)
print(19%2)

9
1

In [33]:
print(9 // 2)
print(9 % 2)

4
1

In [40]:
print(4 // 2)
print(4 % 2)

2
0

In [35]:
print(2 // 2)
print(2 % 2)

1
0

In [38]:
print(1 // 2)
print(1 % 2)

0
1

In [39]:
bin(39)

'0b100111'

In [58]:
numb = 0b100111
int(numb)

39

In [59]:
int(0b100111)

39

In [61]:
type(bin(39))

str

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [41]:
oct(39)

'0o47'

In [43]:
print(oct(39//8))
print(oct (39 % 8))

0o4
0o7

In [44]:
print(oct(4//8))
print(oct (7 % 8))

0o0
0o7

In [65]:
int(0o0047)

39

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [62]:
numb = 39
hex(39)

'0x27'

In [45]:
print(hex(39//16))
print(hex (39 % 16))

0x2
0x7

In [47]:
print(hex(2//16))
print(hex (7 % 16))

0x0
0x7

In [63]:
hex_val = "0x27"
print(int(hex_val, 16))

39

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [ ]:
price = 2500
tax = .053
subtotal = price * tax
total = subtotal + tax

In [75]:
amount = 2500.00
print(f"amount is ${amount:,.2f}")

amount is $2,500.00

In [77]:
print(f"Amount is {amount:,.2%}")

Amount is 250,000.00%

In [89]:
unit_price = 2500
tax = .053
print(f"Subtotal: ${unit_price * tax}")

Subtotal: $132.5

In [90]:
prompt = ">"
print("Enter a number:")
numb1 = int(input(prompt))
print("Enter next number:")
numb2 = int(input(prompt))
total = numb1 + numb2
print(f"{numb1} + {numb2} = {total}")

Enter a number:
>2500
Enter next number:
>132
2500 + 132 = 2632